{% extends 'base.html' %}

{% block title %}Blogshop | Order{% endblock %}

{% block body %}

  <h1>Order</h1>
  {% if error %}
  <p style="color: tomato;">{{ error }}</p>
{% endif %}

  <form>
    <h2>Delivery address:</h2>
    <div>
      <label for="name">First Name</label>
      <input type="text" name="name" id="name" placeholder="Jimmy Cammelton">
    </div>
    <div>
      <label for="street">Street and Number:</label>
      <input type="text" name="street" id="street" placeholder="Sample Street 24">
    </div>
    <div>
      <label for="city">City:</label>
      <input type="text" name="city" id="city" placeholder="Best Town">
    </div>
    <div>
      <label for="state">State:</label>
      <input type="text" name="state" id="state" placeholder="Bakerstate">
    </div>
    <div>
      <label for="zip">Zip:</label>
      <input type="text" name="zip" id="zip" placeholder="12345">
    </div>
    <div>
      <label for="country">Country:</label>
      <input type="text" name="country" id="country" placeholder="Cookieland">
    </div>
    <input type="submit" value="Submit Order">

  </form>
  
{% endblock %}

<form method="POST">
    <h2>Your Order:</h2>
    <ul>
      {% for cookie in cookies %}
        <li>
          <label for="cookie_{{ cookie.id }}">{{ cookie.name }}</label>
          <input type="number" name="{{ cookie.slug }}" id="cookie_{{ cookie.id }}" min="0" value="0">
        </li>
      {% endfor %}
    </ul>

    <h2>Your Address:</h2>
    ...