{% extends 'base.html' %} {% block title %}Blog {% endblock %} {% block body %}
<nav class="navbar">
     <div class="logo">
       <img src="{{url_for("static", filename="")}}" alt="logo" />
     </div>
     <ul>
       <li><a href="/">Home</a></li>
       <li><a href="/about/">About</a></li>
       <li><a href="/blog/">Blog</a></li>
     </ul>
   </nav>
   <h1>Blog Articles</h1>
   <ul>
     
     {% for blog in blog %}
     <li><a href="">{{ blog['title'] }}</a></li>
     {% endfor %}
   </ul>
   {%endblock%}
